<!DOCTYPE html>
<html>
<head>
  <title>Petra</title>
  <%= stylesheet_link_tag    "petra/application", media: "all" %>
  <%= javascript_include_tag "petra/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
